<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Henrique Bissoli Malaman Alonso" />
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/date.js"></script>
    <!-- PhosphorIcons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="../scripts/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css" />
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
  </head>
  <body class="d-flex flex-column h-100 w-100" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.2em">
    <header class="d-flex w-100 px-3 justify-content-between align-items-center shadow-sm" style="top: 0; height: 100px; background-color: #fafafa">
      <div class="d-flex w-75">
        <p class="fs-4 fw-lighter text-uppercase">Henrique Bissoli Malaman Alonso</p>
      </div>
      <div class="d-flex min-vw-25 w-50 justify-content-end">
        <ul class="nav nav-underline text-uppercase">
          <li class="nav-item">
            <p class="fs-6">
              <a class="nav-link" aria-current="page" href="../index.html">Meus Projetos</a>
            </p>
          </li>
          <li class="nav-item">
            <p class="fs-6">
              <a class="nav-link active" href="curriculum.html">Currículo</a>
            </p>
          </li>
          <li class="nav-item">
            <p class="fs-6">
              <a class="nav-link" href="contact.html">Contato</a>
            </p>
          </li>
        </ul>
      </div>
    </header>
    <content class="d-flex justify-content-center w-100 h-100 mb-5">
      <article class="d-flex flex-column w-50 mt-3">
        <p class="fs-1 fw-lighter text-center text-uppercase mb-2 mt-3">
          <a
            target="_blank"
            href="https://www.linkedin.com/ambry/?x-li-ambry-ep=AQLFDL573c7IHwAAAYjcWZKgr2xt3R-XWp3XWSZSPYR8RvH-HB5UUWcdu3EB29HcVVhEtx5_DwrW0hEoN7Wwhbb75nehEltUOapAnWyMq0qrocmPBMLb-6DzRtE5g7zqB111SlPj8cbDp_gO4vViCF5mZTyqzgbpPcTEFQjl8HCScRxVIqHmgDh4EJcAbcWTzHqn8_HKa3D-p3DNY2GoOXtwTM68SuabLhPSWLcFdJRWoOWVrdE_Y7PSGvLZCIgllu8wUGiK-z9r13rfmlsGsDu4sy6LtKZBaA4LBoJVIsMuBGVyZAZPYqvBQh2f__Eh4thO6VhJUfSjT0IrnPlK-UR4LpRG7uIKNRC5lLd8FNsjOFeoVkGvHQolRGla9l__qngEChDb16PdRy5HFntpidRfY5av8BmTtDAR4hwEDt8PzmRcJDIWtmrOSlhAue4SPzI1xgPFSdZ4Zj4QjCw8syJvMtaBCGCOacSWkn0iEywUoQ3dUsnQSpgz-hbRgl2BPwTw6rOTUUy9dHhv7M_bm3IgS6RZ5Qk3KTabHXUfmcv2jlb3KX8bamgPCef6EKKOqwG7Tg&x-ambry-um-filename=Profile.pdf"
            class="link-underline link-underline-opacity-0"
            style="color: black">
            Currículo
          </a>
        </p>
        <div class="d-flex flex-column w-100 mt-3">
          <p class="ms-2 fs-4 fw-medium text-uppercase">Formação Acadêmica</p>
          <div class="d-flex flex-row w-100 mt-3" style="height: 300px">
            <div style="height: 200px; width: 200px" class="mt-1 ms-2">
              <img
                class="rounded"
                src="https://media.licdn.com/dms/image/C560BAQETQJlgswgptg/company-logo_200_200/0/1584110317717?e=1695254400&v=beta&t=0Up43e_M7e-7DSQrfhvDBOKpVAjIlPHu4uTJmibk3Vk"
                alt="Ícone IFSP"
                style="height: 200px" />
            </div>
            <div class="d-flex flex-column h-100 w-75 ms-2 ps-1 mt-1 overflow-y-auto">
              <p class="fs-3 fw-medium text-uppercase">
                <a target="_blank" href="https://sbv.ifsp.edu.br" class="link-underline link-underline-opacity-0" style="color: black">
                  Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - São João da Boa Vista
                </a>
              </p>
              <div class="d-flex flex-row text-uppercase">
                <span class="fs-6">Bacharelado, Ciência da Computação</span>
                &nbsp;//&nbsp;
                <span class="fs-6">2021 - 2026</span>
              </div>
              <div class="d-flex flex-column">
                <p class="text-uppercase">Linguagens/Frameworks utilizadas:</p>
                <div class="d-flex flex-row overflow-auto">
                  <span class="skill">C/C++</span>
                  <span class="skill">Flutter</span>
                  <span class="skill">Java</span>
                  <span class="skill">HTML</span>
                  <span class="skill">CSS</span>
                  <span class="skill">JavaScript</span>
                  <span class="skill">MySQL</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row w-100 mt-3" style="height: 300px">
            <div style="height: 200px; width: 200px" class="mt-1 ms-2">
              <img
                class="rounded"
                src="https://media.licdn.com/dms/image/C560BAQETQJlgswgptg/company-logo_200_200/0/1584110317717?e=1695254400&v=beta&t=0Up43e_M7e-7DSQrfhvDBOKpVAjIlPHu4uTJmibk3Vk"
                alt="Ícone IFSP"
                style="height: 200px" />
            </div>
            <div class="d-flex flex-column h-100 w-75 ms-2 ps-1 mt-1 overflow-y-auto">
              <p class="fs-3 fw-medium text-uppercase">
                <a target="_blank" href="https://www.sbv.ifsp.edu.br/" class="link-underline link-underline-opacity-0" style="color: black">
                  Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - São João da Boa Vista
                </a>
              </p>
              <div class="d-flex flex-row text-uppercase">
                <span class="fs-6">Ensino Médio, Técnico em Informática</span>
                &nbsp;//&nbsp;
                <span class="fs-6">2016 - 2019</span>
              </div>
              <div class="d-flex flex-column">
                <p class="text-uppercase">Linguagens/Frameworks utilizadas:</p>
                <div class="d-flex flex-row overflow-auto">
                  <span class="skill">C/C++</span>
                  <span class="skill">Java</span>
                  <span class="skill">HTML</span>
                  <span class="skill">CSS</span>
                  <span class="skill">JavaScript</span>
                  <span class="skill">PHP</span>
                  <span class="skill">MySQL</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex flex-column w-100 mt-3">
          <p class="ms-2 fs-4 fw-medium text-uppercase">Experiência Profissional</p>
          <div class="d-flex flex-row w-100 mt-3" style="height: 300px">
            <div style="height: 200px; width: 200px" class="mt-1 ms-2">
              <img
                class="rounded"
                src="https://media.licdn.com/dms/image/C4D0BAQHKJ9Q7jQR2_Q/company-logo_200_200/0/1582729415249?e=1695254400&v=beta&t=M_nqt_-lt4U60j-j9OaUFYkNcJteipNAjAVuCOmjdEA"
                alt="Ícone 3stamina"
                style="height: 200px" />
            </div>
            <div class="d-flex flex-column h-100 w-75 ms-2 ps-1 mt-1 overflow-y-auto">
              <p class="fs-3 fw-medium text-uppercase">
                <a target="_blank" href="https://3stamina.com/" class="link-underline link-underline-opacity-0" style="color: black"> 3stamina Problem Solving </a>
              </p>
              <div class="d-flex flex-row text-uppercase">
                <span class="fs-6">São Paulo - Remoto</span>
                &nbsp;//&nbsp;
                <span class="fs-6">Ago 2022 - Atualmente</span>
              </div>
              <p class="fw-lighter text-uppercase">
                Descrição:
                <span class="text-lowercase" style="font-size: 16px; letter-spacing: 0"> Atuo no desenvolvimento de soluções para a plataforma. </span>
              </p>
              <div class="d-flex flex-column">
                <p class="text-uppercase">Linguagens/Frameworks utilizadas:</p>
                <div class="d-flex flex-row overflow-auto">
                  <span class="skill">Node.JS</span>
                  <span class="skill">HTML</span>
                  <span class="skill">CSS</span>
                  <span class="skill">JavaScript</span>
                  <span class="skill">Angular</span>
                  <span class="skill">MongoDB</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row w-100 mt-3" style="height: 300px">
            <div style="height: 200px; width: 200px" class="mt-1 ms-2">
              <img
                class="rounded"
                src="https://media.licdn.com/dms/image/C4D0BAQFhS97lGW8v1Q/company-logo_200_200/0/1573221276615?e=1695254400&v=beta&t=t1PGLfdaD-JVbY2x8XaCBCEB-DSDgOo1c0bwXHpk6T4"
                alt="Ícone Fortress"
                style="height: 200px" />
            </div>
            <div class="d-flex flex-column h-100 w-75 ms-2 ps-1 mt-1 overflow-y-auto">
              <p class="fs-3 fw-medium text-uppercase">
                <a target="_blank" href="https://grupofortress.com.br/" class="link-underline link-underline-opacity-0" style="color: black">
                  Fortress Serviços Terceirizados LTDA.
                </a>
              </p>
              <div class="d-flex flex-row text-uppercase">
                <span class="fs-6">São João da Boa Vista - Presencial</span>
                &nbsp;//&nbsp;
                <span class="fs-6">Nov 2021 - FEV 2022</span>
              </div>
              <p class="fw-lighter text-uppercase">
                Descrição:
                <span class="text-lowercase" style="font-size: 16px; letter-spacing: 0">
                  Atuei no desenvolvimento de soluções para a empresa, além de efetuar a manutenção da infraestrutura já existente.
                </span>
              </p>
              <div class="d-flex flex-column">
                <p class="text-uppercase">Linguagens/Frameworks utilizadas:</p>
                <div class="d-flex flex-row overflow-auto">
                  <span class="skill">Node.JS</span>
                  <span class="skill">PHP</span>
                  <span class="skill">MySQL</span>
                  <span class="skill">Figma</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </content>
    <footer
      class="d-flex flex-row justify-content-between align-items-center px-3 fixed-bottom"
      style="background: #fafafa; min-height: 50px; height: 75px; color: #b1b1b1; font-size: 12px">
      <div class="d-flex flex-column justify-content-left w-75 pt-2" style="font-size: 10px; letter-spacing: 0">
        <div class="d-flex flex-row">
          <p>©<span id="currentYear"></span> Henrique Bissoli Malaman Alonso.</p>
          &nbsp;•&nbsp;
          <p class="text-uppercase">bv3019683</p>
          &nbsp;•&nbsp;
          <p class="">Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - São João da Boa Vista</p>
        </div>
        <p>©<span id="currentYear"></span> Henrique Bissoli Malaman Alonso Desenvolvimento de Software - CNPJ <span>47.750.099/0001-02</span>.</p>
      </div>
      <p class="text-end align-self-end" style="color: #b1b1b1">
        <a target="_blank" href="mailto:contato.henrique.bissoli@gmail.com" class="text-end" style="color: #b1b1b1">Email</a> &nbsp;//&nbsp;
        <a target="_blank" href="https://www.linkedin.com/in/henrique-bissoli-142a49211/" class="text-end" style="color: #b1b1b1">LinkedIn</a>
      </p>
    </footer>
  </body>
</html>
