<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Portifolio" />
    <meta name="keywords" content="henrique bissoli" />
    <meta name="author" content="Henrique Bissoli Malaman Alonso" />
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/date.js"></script>
    <!-- PhosphorIcons -->
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="../scripts/bootstrap/bootstrap.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap/bootstrap.min.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/style.css" />
    <!-- Fonts -->
    <link href=’https://fonts.googleapis.com/css?family=Montserrat rel=’stylesheet’/>
  </head>
  <body class="d-flex flex-column h-100 w-100" style="font-family: 'Montserrat', sans-serif; letter-spacing: 0.2em">
    <header class="d-flex w-100 px-3 justify-content-between align-items-center shadow-sm" style="top: 0; height: 100px; background-color: #fafafa">
      <div class="d-flex w-75">
        <p class="fs-4 fw-lighter text-uppercase">Henrique Bissoli Malaman Alonso</p>
      </div>
      <div class="d-flex w-25 justify-content-end">
        <ul class="nav nav-underline text-uppercase">
          <li class="nav-item">
            <p class="fs-6">
              <a class="nav-link" aria-current="page" href="../index.html">Meus Projetos</a>
            </p>
          </li>
          <li class="nav-item">
            <p class="fs-6">
              <a class="nav-link active" href="curriculum.html">Currículo</a>
            </p>
          </li>
          <li class="nav-item">
            <p class="fs-6">
              <a class="nav-link" href="contact.html">Contato</a>
            </p>
          </li>
        </ul>
      </div>
    </header>
    <content class="d-flex justify-content-center w-100 h-100 pb-2">
      <article class="d-flex flex-column w-50 pt-3">
        <p class="fs-4 fw-lighter text-center text-uppercase">Currículo</p>
      </article>
    </content>
    <footer class="d-flex flex-row justify-content-between align-items-center px-3" style="background: #fafafa; min-height: 50px; height: 75px; color: #b1b1b1; font-size: 12px">
      <div class="d-flex flex-column justify-content-left w-75 pt-2" style="font-size: 10px; letter-spacing: 0">
        <p>©<span id="currentYear"></span> Henrique Bissoli Malaman Alonso.</p>
        <p>©<span id="currentYear"></span> Henrique Bissoli Malaman Alonso Desenvolvimento de Software - CNPJ <span>47.750.099/0001-02</span>.</p>
      </div>
      <p class="text-end align-self-end" style="color: #b1b1b1">
        <a target="_blank" href="mailto:contato.henrique.bissoli@gmail.com" class="text-end" style="color: #b1b1b1">Email</a> &nbsp;//&nbsp;
        <a target="_blank" href="https://www.linkedin.com/in/henrique-bissoli-142a49211/" class="text-end" style="color: #b1b1b1">LinkedIn</a>
      </p>
    </footer>
  </body>
</html>
